@media screen and (min-width: 766px) {
    .container {
        max-width: 736px;
    }

    /* HEADER */

    .header-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-list {
        display: flex;
    }

    .header-text {
        padding-top: 24px;
        padding-bottom: 24px;
        display: block;
    }

    .header-address-link {
        display: block;
    }

    .header-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: block;
        margin-right: 76px;
    }

    .header-logo-studio {
        color: #2e2f42;
    }

    .header-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        transition: color var(--tra);
    }

    .header-text.emphasis::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        background-color: #404bbf;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        display: block;
        bottom: -1px;
    }

    .emphasis {
        position: relative;
        color: #404bbf;
    }

    .header-item {
        margin-right: 40px;
    }

    .header-text:hover,
    .header-text:focus {
        color: #404bbf;
    }

    .header-address-link {
        font-style: normal;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);

        transition: color var(--tra);
    }

    .header-address {
        font-style: normal;
        display: flex;
        margin-left: auto;
    }

    .header-address-link:hover,
    .header-address-link:focus {
        color: #404bbf;
    }

    .menu-open-btn {
        display: none;
    }

    /* BUTTON */

    .main-section-button {
        max-width: 768px;
        background: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg-tab-1x.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main-section-button {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg-tab-2x.jpg);
        }
    }

    .section-button-text {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }

    /* INTERMEDIA */

    .intermedia-list {
        gap: 72px 24px;
    }

    .intermedia-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .about-item-title {
        text-align: left;
    }

    /* TEAM */

    .section-team>.container {
        max-width: 582px;
    }

    .team-list {
        justify-content: start;
        gap: 64px 24px;
    }

    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    /* CUSTOMERS */

    .section-customers>.container {
        max-width: 582px;
    }

    .customers-list {
        gap: 72px 24px;
    }

    .customers-item {
        width: calc((100% - 24px * 2) / 3);
        height: 88px;
    }

    /* FOOTER */

    .index-footer>.container {
        max-width: 582px;
    }

    .footer-container {
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .footer-text {
        width: 264px;
    }

    .social-media,
    .button-submit {
        text-align: left;
    }

    .footer-logo {
        display: inline-block;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }

    .button-submit {
        margin: 0;
    }

    .studio {
        color: #f4f4fd;
    }

    /* MODAL */

    .modal {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    /* PORTFOLIO */

    /* HEADER */

}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    /* HEADER */

    .header-container {
        padding: 0;
    }

    .header-address-list {
        flex-direction: row;
    }

    .header-address-item {
        margin-right: 40px;
    }

    .header-address-item:last-child {
        margin-right: 0;
    }

    .header-address-link {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 16px;
        line-height: 1.5;
    }

    /* BUTTON */

    .main-section-button {
        max-width: 1440px;
        background: #2e2f42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 188px;
        padding-bottom: 188px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .main-section-button {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-2x.jpg);
        }
    }

    .section-button-text {
        margin-bottom: 48px;
    }

    /* INTERMEDIA */

    .section-intermedia {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .intermedia-list {
        justify-content: start;
        gap: 24px;
    }

    .intermedia-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .intermedia-svg-container {
        background-color: #f4f4fd;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .intermedia-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: var(--secondary-text-color);
    }

    .intermedia-text {
        font-weight: 400;
    }

    /* HOVER */

    .section-hover {
        display: block;
        padding-bottom: 120px;
    }

    .hover {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--secondary-text-color);

        margin-bottom: 72px;
    }

    .hover-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .hover-item {
        flex-basis: calc((100% - 2 * 24px) / 3);
    }

    /* TEAN */

    .section-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-team>.container {
        max-width: 1158px;
    }

    .team-list {
        gap: 24px;
    }

    .team-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    /* CUSTOMERS */

    .section-customers>.container {
        max-width: 1158px;
    }

    .section-customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-list {
        display: flex;
        gap: 24px;
    }

    .customers-item {
        width: calc((100% - 24px * 5) / 6);
    }

    /* FOOTER */

    .index-footer>.container {
        max-width: 1158px;
        margin-right: auto;
        margin-left: auto;
    }

    .index-footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        flex-wrap: nowrap;
        gap: 0;
    }

    .index-container {
        margin-right: 120px;
    }

    .social-media-container {
        margin-right: 80px;
    }

    .footer-logo {
        display: inline-block;
    }

    .social-media-container {
        margin-right: 80px;
    }

    .footer-form {
        display: flex;
        gap: 24px;
    }

    .footer-input {
        width: 264px;
    }
}